<% unless @purchase_order_lines.empty? %>
	<table class="center">
	  <tr>
		<th>Rec Date</th>
		<th>Item</th>
		<th>Ordered</th>	
		<th>uom</th>	
		<th>Unit Prc</th>	
		<th>Prc uom</th>	
		<th>Rec LBS</th>	
		<th>Alt Qty Rec</th>	
		<th>Prc Qty Rec</th>	
		<th>Amount Inv</th>	
	  </tr>

	<% @purchase_order_lines.each do |line| %>	
	  <tr class="<%= cycle('color', 'no-color') %>">
		<td><%= line.receipt_date.strftime("%m/%d/%Y") %></td>
		<td><%= link_to line.product_code, line.product %></td>
		<td class="right"><%= line.order_qty %></td>
		<td><%= line.order_uom %></td>
		<td class="right"><%= number_to_currency(line.unit_price) %></td>
		<td><%= line.pricing_uom %></td>
		<td class="right"><%= number_with_delimiter(line.weight_received) %></td>
		<td class="right"><%= number_with_delimiter(line.alt_qty_received) %></td>
		<td class="currency"><%= number_to_currency(line.price_qty_received) %></td>
		<td class="currency"><%= number_to_currency(line.amount_invoiced) %></td>
	  </tr>
	<% end %>

	</table>

<%# will_paginate @purchase_order_lines %>

<% end %>

<%= link_to 'upload', :action => 'new' %>
